@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #fff;
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #fff;
        box-shadow: 0 0 0 0 #fff;
    }
    50% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.button {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    padding: 11px 19px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: background 0.5s;
}

.button:hover {
    animation: none;
    background: #fad053
        radial-gradient(circle, transparent 1%, #fad053 1%)
        center/15000%;
    color: #fff;
}

.button:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
}

.button_orange {
    background-color: #f9a600;
    z-index: 100;
}

.button_light-orange {
    background-color: #f3bd15;
}

.button_yandex-logo {
    background-color: #fff;
    color: #000;
    animation: pulse 1.2s infinite;
}

.button-tab {
    background-color: transparent;
    color: #fff;
    height: 40px;
    border-radius: 1px;
    border: none;
    outline: none;
    font-family: "Play", sans-serif;
    font-style: normal;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
    width: 32%;
    margin-left: 1px;
    padding: 0;
}

.button-tab_selected {
    background-color: #fff;
    color: #121210;
}
