.load-message {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--foreground);
    margin-top: 174px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.load-message_error {
    color: var(--accent);
}
