.image {
    background-color: transparent;
}

.image_close-cross {
    width: 30px;
    height: 30px;
}

.image_close-cross_absolute {
    position: absolute;
    top: 30px;
    right: 30px;
}

.image_logo {
    width: 320px;
    height: 300px;
}

.image_avatar {
    width: 250px;
    height: 250px;
    border: 3px solid #fff;
}

.image_yandex-logo {
    width: 156px;
    height: 40px;
}
