.image {
    background-color: transparent;
}

.image_close-cross {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.image_close-cross_absolute {
    position: absolute;
    top: 20px;
    right: 30px;
}

.image_logo {
    max-width: 320px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    margin: 50px;
}

.image_avatar {
    width: 250px;
    height: 250px;
    border: 3px solid var(--foreground);
    border-radius: 5px
}

.image_yandex-logo {
    width: 156px;
    height: 40px;
}

.image_icon {
    filter: var(--icon-filter);
}

.image_flip-x {
    transform: scaleX(-1);
}
