.leader-board__wrapper {
    min-height: 800px;
    margin: 25px 0;
}

.leader-board__container {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.leader-board__title {
    margin-bottom: 35px;
}

.leader-board__item {
    box-sizing: border-box;
    line-height: 44px;
    border-radius: 5px;
    font-family: "Play", sans-serif;
    font-style: normal;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    cursor: pointer;
    color: var(--foreground);
    border: 3px solid var(--foreground);
    margin-bottom: 25px;
}

.leader-board__item_self {
    border: 3px solid var(--main);
}
