.tab-panels {
    color: var(--foreground);
    margin-top: 30px;
    width: 100%;
}

.tab-list {
    width: 100%;
    height: 50px;
    border: 3px solid var(--foreground);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.tab {
    background-color: transparent;
    color: var(--foreground);
    line-height: 40px;
    border-radius: 1px;
    border: none;
    outline: none;
    font-family: "Play", sans-serif;
    font-style: normal;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
    flex-grow: 1;
    margin: 3px;
    padding: 0 10px;
    text-align: center;
}

.tab_selected {
    background-color: var(--foreground);
    color: var(--background);
}
