.input {
    width: calc(100% - 40px);
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: "Play", sans-serif;
    font-style: normal;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    cursor: pointer;
}

.input_normal {
    color: var(--background);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--foreground);
}

.input_normal::placeholder {
    color: var(--placeholder);
}

.input_inverted {
    color: var(--foreground);
    border: 1px solid var(--foreground);
}

.input_inverted::placeholder {
    color: var(--placeholder);
    opacity: .3;
}

.input-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
