.input {
    width: calc(100% - 40px);
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: "Play", sans-serif;
    font-style: normal;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    cursor: pointer;
}

.input_white {
    color: #121210;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--white);
}

.input_white::placeholder {
    color: #aaa9ad;
}

.input_black {
    color: #fff;
    border: 1px solid #fff;
}

.input_black::placeholder {
    color: #aaa9ad;
    opacity: .3;
}
.input-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
