.game_wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 150px);
    margin: 0 75px;
    min-width: 610px;
    /*overflow-y: hidden;*/
}

.canvas {
    height: calc(100vh - 300px);
    width: calc(100vw - 150px);
    margin: 0 auto;
    background: var(--game_background);
    border: 3px solid var(--foreground);
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 440px;
    min-width: 610px;
}

.controls_wrapper {
    /*height: 300px;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.control_buttons {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.control_counter_group_container {
    display: flex;
    justify-content: center;
}

.control_counter_group {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.avatar_group-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*margin: auto 0;*/
}

.avatar_group-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*margin: auto 0;*/
}

.image_avatar {
    width: 150px;
    height: 150px;
    margin: 10px 0;
}

.control_counter {
    margin: auto 85px;
}

.player_name {
    font-family: Play,sans-serif;
    font-size: 24px;
}

.player_points {
    font-family: Play,sans-serif;
    font-size: 24px;
    color: var(--foreground);
}

.enemy_name {
    font-family: Play,sans-serif;
    font-size: 24px;
}

.color-main {
    color: var(--main);
}

.color-accent {
    color: var(--accent);
}

.winner_text {
    font-family: Play,sans-serif;
    font-size: 24px;
    color: var(--foreground);
}

@media (max-width: 1220px) {
    .control_buttons {
        order: 1;
    }
}
