h1 {
    color: main;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
}

:root {
    --orange: #f9a600;
    --light-orange: #f3bd15;
}
canvas {
    /* вечер */
    /*background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%);*/

    /* день */
    background: linear-gradient(to bottom, #79b1f5 0%, #88c2c9 30%,#e1c45e 70%,#b26339 100%);
}
