canvas {
    /* вечер */
    /*background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%);*/

    /* день */
    background: linear-gradient(
        to bottom,
        #79b1f5 0%,
        #88c2c9 30%,
        #e1c45e 70%,
        #b26339 100%
    );
}

.app,
#root {
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
}
