.overlay {
    position: fixed;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    width: 300px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
    background-color: var(--background);
    color: var(--foreground);
}

.description {
    margin: 60px 0;
    display: flex;
    justify-content: center;
}

.restart_button {
    margin: 0 auto;
}

.dialog {
    width: calc(700px - 100px);
    height: calc(500px - 100px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--foreground);
    background-color: var(--background);
    margin: 10vh auto;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
