.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 8000;
    &.popup-overlay_warning {
        background-color: var(--overlay_warning-op15);
    }
    &.popup-overlay_fade {
        background-color: var(--overlay-fade-op85);
    }
}

.popup-content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
    max-width: 700px;
    overflow: auto;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--foreground);
    background-color: var(--background);
    margin: 10vh auto;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 3px solid var(--foreground);
    border-radius: 5px;
}

.popup-text {
    font-family: "Play", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: var(--foreground);
}
