.main-content {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.main-text {
    /*height: 290px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content__left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-right: 200px;*/
    /*height: 500px;*/
}

@media (max-width: 950px) {
    .main-content {
        margin: 0;
    }
    .button_orange_link {
        margin: 15px auto;
    }
}

@media (max-width: 520px) {
    .main-content {
        margin: -90px 0 100px 0;
    }
}

