.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-text {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content__left-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 200px;
}
