@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #fff;
        box-shadow: 0 0 0 0 #fff;
    }
    50% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.button {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    padding: 11px 19px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: background 0.5s;
}

.button_orange {
    background-color: #f9a600;
    z-index: 100;
}

.button_orange_link {
    max-width: 140px;
    text-decoration: none;
}

.button_orange:hover {
    animation: none;
    background: var(--main)
        radial-gradient(
            circle,
            transparent 1%,
            var(--main) 1%
        )
        center/15000%;
    color: #fff;
}

.button_orange:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
}

.button_light-orange {
    background-color: var(--secondary);
    display: block;
}

.button_light-orange:hover {
    animation: none;
    background: var(--secondary)
        radial-gradient(
            circle,
            transparent 1%,
            var(--secondary) 1%
        )
        center/15000%;
    color: #fff;
}

.button_light-orange:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
}

.button_yandex-logo {
    background-color: var(--white);
    color: #000;
    padding: 11px 10px;
}

.button_yandex-logo:hover {
    animation: none;
    background: var(--white)
        radial-gradient(
            circle,
            transparent 1%,
            var(--white) 1%
        )
        center/15000%;
    color: #fff;
}

.button_yandex-logo:active {
    background-color: var(--grey);
    background-size: 100%;
    transition: background 0s;
}

.button-link {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    color: var(--main);
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 0px;
    max-width: 120px;
    transition: transform .2s linear;
    text-decoration: none;
}

.button-link_margin {
    margin-top: 35px;
}

.button-link:hover {
    transform: scale(1.1);
}

.button-logout {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    border: 3px solid;
    border-radius: 5px;
    padding: 10px 30px;
}

.button:hover {
    animation: pulse 1.2s infinite;
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    animation: none;
}
