@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #fff;
        box-shadow: 0 0 0 0 #fff;
    }
    50% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.button {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    padding: 11px 19px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: background 0.5s;
}

.button_orange {
    background-color: #f9a600;
    z-index: 100;
}

.button_orange_link {
    max-width: 140px;
    text-decoration: none;
}

.button_orange:hover {
    animation: none;
    background: var(--main)
        radial-gradient(
            circle,
            transparent 1%,
            var(--main) 1%
        )
        center/15000%;
    color: #fff;
}

.button_orange:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
}

.button_light-orange {
    background-color: var(--secondary);
    display: block;
}

.button_light-orange:hover {
    animation: none;
    background: var(--secondary)
        radial-gradient(
            circle,
            transparent 1%,
            var(--secondary) 1%
        )
        center/15000%;
    color: #fff;
}

.button_light-orange:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
}

.button_yandex-logo {
    background-color: var(--white);
    color: #000;
    padding: 11px 10px;
}

.button_yandex-logo:hover {
    animation: none;
    background: var(--white)
        radial-gradient(
            circle,
            transparent 1%,
            var(--white) 1%
        )
        center/15000%;
    color: #fff;
}

.button_yandex-logo:active {
    background-color: var(--grey);
    background-size: 100%;
    transition: background 0s;
}

.button-link {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    color: var(--main);
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 0;
    max-width: 120px;
    transition: transform .2s linear;
    text-decoration: none;
}

.button-link_margin {
    margin-top: 35px;
}

.button-link:hover {
    transform: scale(1.1);
}

.button:hover {
    animation: pulse 1.2s infinite;
}


.button_fire {
    background-color: var(--accent);
    color: #fff;
    padding: 11px 2px;
    margin: auto 85px;
    width: 200px;
    height: 220px;
    border: 3px solid #fff;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.button_fire:hover {
    animation: none;
    background: var(--accent)
        radial-gradient(
            circle,
            transparent 1%,
            var(--accent) 1%
        )
        center/15000%;
    color: #fff;
}

.button_fire:active {
    background-color: var(--grey);
    background-size: 100%;
    transition: background 0s;
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    animation: none;
}



.big_red_button::before, .big_red_button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

/*noinspection ALL*/
.big_red_button {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;

    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: inset -2px -2px 2px #666666;
    margin: auto 30px;
    background-color: #aaa;
    background-image:
        -webkit-radial-gradient(50% 0%, 15% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
        -webkit-radial-gradient(50% 100%, 15% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
        -webkit-radial-gradient(0% 50%, 50% 15%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
        -webkit-radial-gradient( 100%  50%, 50%  15%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),

        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 3%, hsla(0,0%,0%,.1) 2%),
        -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 5%, hsla(0,0%,100%,.1) 7.5%),
        -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2%),
        -webkit-radial-gradient(50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}

.big_red_button::before {
    background-color: #ff0000;
}
.big_red_button::after {
    box-shadow: inset 2px 2px 1px #666666, inset 10px 20px 50px #474747, inset -5px -10px 15px #141414;
}
.big_red_button:active::before {
    background-color: #730000;
}
.big_red_button:active::after {
    box-shadow: inset 6px 6px 10px #0d0d0d, inset -2px -2px 3px #0d0d0d, inset -18px -18px 25px #1f1f1f;
}
