.label {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    color: var(--foreground);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
}

.label_avatar {
    position: initial;
    width: initial;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    color: var(--foreground);
    color: var(--main);
    display: block;
    cursor: pointer;
}
