.menu-items {
    width: 280px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    border: 3px solid var(--white);
    border-radius: 5px;
    position: absolute;
    left: 20px;
    top: 80px;
    z-index: 1000;
}

.menu-item {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    background-color: var(--black);
    border: 3px solid var(--white);
    width: 280px;
    min-width: 280px;
    box-sizing: border-box;
    border-radius: 5px;
    color: var(--white);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 5px;
    text-decoration: none;
    z-index: 1000;
}

.menu-item:first-of-type {
    margin-top: 0px;
}

.menu-item_button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 318px;
    margin-bottom: 16px;
    z-index: 1000;
}

.menu-item_active {
    background-color: var(--main);
}

.menu-item_disabled {
    opacity: .75;
}
