.form {
    display: flex;
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    background-color: #121210;
    margin: 0px;
}

.form__fields-group {
    position: relative;
    padding-top: 25px;
}

.form-wrapper {
    background-color: #121210;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    border: 3px solid #fff;
    border-radius: 5px;
}

.form__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

input:focus ~ label {
    color: var(--main);
}

.form-tab {
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-tab__container {
    width: 100%;
    height: 650px;
    border: 3px solid var(--white);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 50px;
}

.form-tab__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
