.title {
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.title_middle-form {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: 2px solid #f9a600;
}

.title_middle {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 3px solid #f9a600;
}

.title_big {
    font-size: 36px;
    text-align: initial;
}
